{% extends 'base.html' %}

{% block title %}Delete Blog Entry{% endblock %}

{% block content %}
Are you sure you want to delete blog entry #{{ blog_item.id }}, with title &quot;{{ blog_item.title }}&quot;?
<form method="post" action="">
  {% csrf_token %}
  <input type="hidden" name="delete" value="YES">
  <input type="hidden" name="id" value="{{ blog_item.id }}">
  <button class="btn btn-danger" type="submit">Yes</button>
  <a class="btn btn-primary" href="{% url 'blog-list' %}">NO</a>
 
</form> 




{% endblock %}
