{% extends 'base.html' %}

{% block title %}Blog list{% endblock %}

{% block content %}
  <button class="btn btn-primary" onclick="addClick();">Add Entry</button>

  {% if blogs %}
    <h2 onclick="titleClick(this)">Blog entries:</h2>
    {% for blog in blogs %}
       {% include 'blog/partial/blog_list_item.html' %}
    {% endfor %}
  {% else %}
    <h2>There is no blog entries!</h2>

  {% endif %}

  <script>
    function deleteClick(btn) {
     const id = btn.getAttribute("data-id");
     const url = `/blog/del/?id=${id}`;
     location.href = url;

    }

    function addClick() {
      location.href = '/blog/add/';
    }

    function titleClick(element) {
      element.style.color = "blue";
    }

   </script>


    	

{% endblock %}
